<table class="table is-bordered">
  <thead *ngIf="!readOnly">
    <tr>
      <th>Ingrediente</th>
      <th>Qta</th>
      <th *ngIf="!readOnly">Rim</th>
      <th>Azioni</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of prodIngredients">
      <td>{{ i.name }}</td>
      <td>
        <input #quantita type="number" min="1" max="5" style="width:30px" name="quantita" [value]="i.quantity"
          (change)="setQuantita(i, quantita.value)">
      </td>
      <td *ngIf="!readOnly">
        <input type="checkbox" name="rimovibile" [checked]="i.rimovibile" (change)="i.rimovibile = !i.rimovibile">
      </td>
      <td>
        <button *ngIf="i.rimovibile" (click)="removeIngredient(i)" type="button"
          class="button is-danger is-small">&times;</button>
      </td>
    </tr>
  </tbody>
</table>