<!--DIV CHE RACCHIUDE TUTTO-->
<div #container class="product-card-container animate__animated animate__fadeInLeft animate__fast"
  [ngClass]="{ 'animate__fadeOutRight': isDeleting }">
  <a [routerLink]="[link]">
    <div class="product-card-content">
      <div class="product-card-img">
        <img src="{{ immaginePrincipale }}" />
      </div>
      <div>
        <h1 class="product-card-title"> {{ nome }}</h1>
        <span>{{ prezzo | currency: 'EUR' }}</span>
      </div>
    </div>
  </a>
  <div class="x-button" (click)="onXButtonClick()">
  </div>
</div>