<div class="layout-box">

  <nav class="navbar is-primary is-fixed-top " role="navigation" aria-label="main navigation">
    <div class="container animate__animated animate__fadeIn animate__faster">
      <div class="navbar-brand">
        <a class="navbar-item" routerLink="/ingredients" (click)="toggleOpen()">
          Ng Burger King
        </a>

        <a (click)="toggleOpen()" role="button" class="navbar-burger" [ngClass]="{'is-active' : isBurgerOpen }"
          aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu animate__animated animate__fadeIn animate__faster"
        [ngClass]="{'is-active' : isBurgerOpen }">
        <div class="navbar-start">

          <a class="navbar-item" routerLink="/ingredients" (click)="toggleOpen()">Ingredienti</a>
          <a class="navbar-item" routerLink="/products" (click)="toggleOpen()">Prodotti</a>
          <a class="navbar-item" routerLink="/catalog" (click)="toggleOpen()">Catalogo</a>
          <a class="navbar-item" routerLink="/orders" (click)="toggleOpen()">Ordini</a>

        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-link" routerLink="/cart" (click)="toggleOpen()">
                <i class="fa fa-shopping-cart"></i>
                <span *ngIf="productsService.numCartProducts > 0" class="ml-2 tag is-rounded is-success"><strong>{{
                    productsService.numCartProducts
                    }}</strong></span>
              </a>
              <strong class="mr-3">
                {{ username }}
              </strong>
              <button class="button is-link" (click)="logout()">
                <strong>Logout</strong>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </nav>


  <div class="page-content mt-5">
    <router-outlet></router-outlet>
  </div>

</div>