<div class="layout-box">

  <div class="top-bar">

    <h1>Ng Burger King </h1>

    <ul class="links">
      <li><a routerLink="/ingredients">Ingredienti</a></li>
      <li><a routerLink="/products">Prodotti</a></li>
    </ul>

    <div class="user-login-info">
      <label class="label text-light">{{ username }}</label>
      <button class="button is-primary border-radius-0" (click)="logout()">Logout</button>
    </div>
  </div>


  <div class="page-content">
    <router-outlet></router-outlet>
  </div>

</div>