<!--Pagina per aggiungere delle product-->

<div class="form-container">

  <!--CREO UN FORM-->
  <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">



    <!--La classe field è una classe di bulma -->
    <div class="field">
      <label class="label"> Nome</label>
      <div class="control">
        <input type="text" name="nome" [ngModel]="product.nome" required class="input">
        <!-- <div>{{ product.nome }}</div> -->
      </div>
    </div>
    <br>

    <div class="field">
      <label class="label"> Prezzo</label>
      <div class="control">
        <input type="text" name="prezzo" [ngModel]="product.prezzo" required class="input">
      </div>
    </div>
    <br>

    <div class="field">
      <label class="label">Immagine</label>
      <div class="control">
        <input type="text" name="immaginePrincipale" [(ngModel)]="product.immaginePrincipale" class="input" />
      </div>
      <img src="{{ product.immaginePrincipale }}" />
    </div>

    <br>


    <div class="field is-grouped is-pulled-right">

      <div class="control">
        <button class="button is-text" type="button" (click)="cancel()">Cancella</button>
      </div>

      <div class="control">
        <button class="button is-success" type="submit" [disabled]="!productForm.valid">Salva</button>
      </div>

    </div>
  </form>

</div>