<!--Pagina per aggiungere delle product-->

<div class="form-container">

  <!--CREO UN FORM-->
  <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">



    <!--La classe field è una classe di bulma -->
    <div class="field">
      <label class="label"> Nome</label>
      <div class="control">
        <input type="text" name="nome" [ngModel]="product.nome" required class="input">
        <!-- <div>{{ product.nome }}</div> -->
      </div>
    </div>
    <br>

    <div class="field">
      <label class="label"> Prezzo</label>
      <div class="control">
        <input type="text" name="prezzo" [ngModel]="product.prezzo" required class="input">
      </div>
    </div>
    <br>

    <div class="field">
      <label class="label">Immagine</label>
      <div class="control">
        <input type="text" name="immaginePrincipale" [(ngModel)]="product.immaginePrincipale" class="input" />
      </div>
      <img src="{{ product.immaginePrincipale }}" />
    </div>

    <br>

    <div class="field">
      <label class="label">Ingredienti</label>
      <div class="control">
        <select id="ingredients" class="input">
          <option *ngFor="let i of ingredients" value="{{ i.id }}">{{ i.nome }}</option>
        </select>
        <button class="button" type="button" (click)="addIngredient()">Add Ingredient</button>
      </div>
    </div>
    <div>
      <table class="table is-bordered">
        <thead>
          <tr>
            <th>Ingrediente</th>
            <th>Qta</th>
            <th>Rim</th>
            <th>Azioni</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of prodIngredients">
            <td>{{ i.idIngredienteNavigation.nome }}</td>
            <td>
              <input #quantita type="number" min="1" style="width:30px" name="quantita" [value]="i.quantita"
                (change)="setQuantita(i,quantita.value)">
            </td>
            <td>
              <input type="checkbox" name="rimovibile" [checked]="i.rimovibile" (change)="i.rimovibile = !i.rimovibile">
            </td>
            <td>
              <button (click)="removeIngredient(i.idIngredienteNavigation)" type="button"
                class="button is-danger is-small">&times;</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <br>


    <div class="field is-grouped is-pulled-right">

      <div class="control">
        <button class="button is-text" type="button" (click)="cancel()">Cancella</button>
      </div>

      <div class="control">
        <button class="button is-success" type="submit" [disabled]="!productForm.valid">Salva</button>
      </div>

    </div>
  </form>

</div>