<!--DIV CHE RACCHIUDE TUTTO-->
<div #container class="ingredient-card-container animate__animated animate__fadeInLeft animate__fast"
  [ngClass]="{ 'animate__fadeOutRight': isDeleting }">

  <a [routerLink]="link">

    <div class="ingredient-card-content">

      <div class="ingredient-card-img">
        <img src="{{ immagine }}" />
      </div>

      <div>
        <h1 class="ingredient-card-title"> {{ nome }}</h1>
        <span>{{ prezzo | currency: 'EUR' }}</span>
      </div>

      <!--Titolo della carta-->

      <!--Corpo della carta-->
      <div #bodyText class="ingredient-card-body">
        <!--TESTO testo della carta-->


        <div #truncator class="fade-out-truncation">

        </div>

      </div>

    </div>
  </a>

  <!--DIV PER IL TITOLO-->


  <div class="x-button" (click)="onXButtonClick()">


  </div>





</div>