<footer id="footer-4" class="footer division">
  <div class="container grey-color">


    <!-- FOOTER CONTENT -->
    <div class="row">


      <!-- FOOTER INFO -->
      <div class="col-xl-3">
        <div class="footer-info mb-40">

          <!-- Footer Logo -->
          <div class="footer-logo"><img src="assets/images/logo-01.png" alt="footer-logo" /></div>

          <!-- Text -->
          <p>gianluigio --- An orci nullam tempor a sapien eget gravida and integer donec ipsum porta justo integer</p>

        </div>
      </div>


      <!-- FOOTER CONTACTS -->
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div class="footer-contacts mb-40">

          <!-- Title -->
          <h5 class="h5-sm">Order Now</h5>

          <!-- Address -->
          <p>8721 M Central Avenue,</p>
          <p>Los Angeles, CA 90036</p>

          <!-- Contacts -->
          <p class="foo-email txt-500 mt-15"><a href="mailto:yourdomain@mail.com">hello@yourdomain.com</a></p>
          <p><span class="yellow-color"><a href="tel:123456789">789-654-3210</a></span></p>

        </div>
      </div>


      <!-- FOOTER INFO -->
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div class="footer-info mb-30">

          <!-- Title -->
          <h5 class="h5-sm">Working Hours</h5>

          <!-- Text -->
          <p>Quaerat neque purus ipsum at neque dolor primis tempus</p>

          <!-- Text -->
          <p class="mt-15">Mon-Fri: <span>9:00AM - 10:00PM</span></p>
          <p>Saturday: <span>10:00AM - 8:30PM</span></p>
          <p>Sunday: <span>12:00PM - 5:00PM</span></p>

        </div>
      </div>


      <!-- FOOTER IMAGES -->
      <div class="col-md-12 col-lg-4 col-xl-3">
        <div class="footer-img mb-40">

          <!-- Title -->
          <h5 class="h5-sm">Instagram Feed</h5>

          <!-- Instagram Images -->
          <ul class="text-center clearfix">
            <li><a href="#" target="_blank"><img class="insta-img" src="assets/images/instagram/img-01.jpg"
                  alt="insta-img"></a></li>
            <li><a href="#" target="_blank"><img class="insta-img" src="assets/images/instagram/img-02.jpg"
                  alt="insta-img"></a></li>
            <li><a href="#" target="_blank"><img class="insta-img" src="assets/images/instagram/img-03.jpg"
                  alt="insta-img"></a></li>
            <li><a href="#" target="_blank"><img class="insta-img" src="assets/images/instagram/img-04.jpg"
                  alt="insta-img"></a></li>
            <li><a href="#" target="_blank"><img class="insta-img" src="assets/images/instagram/img-05.jpg"
                  alt="insta-img"></a></li>
            <li><a href="#" target="_blank"><img class="insta-img" src="assets/images/instagram/img-06.jpg"
                  alt="insta-img"></a></li>
          </ul>

        </div>
      </div> <!-- END FOOTER IMAGES -->


    </div> <!-- END FOOTER CONTENT -->


    <!-- BOTTOM FOOTER -->
    <div class="bottom-footer">
      <div class="row d-flex align-items-center">


        <!-- FOOTER COPYRIGHT -->
        <div class="col-md-5 col-lg-6">
          <div class="footer-copyright">
            <p>&copy; 2020 Testo. All Rights Reserved</p>
          </div>
        </div>


        <!-- BOTTOM FOOTER LINKS -->
        <div class="col-md-7 col-lg-6">
          <ul class="bottom-footer-list text-right clearfix">
            <li>
              <p class="first-list-link"><a href="#"><i class="fab fa-facebook-f"></i> Facebook</a></p>
            </li>
            <li>
              <p><a href="#"><i class="fab fa-twitter"></i> Twitter</a></p>
            </li>
            <li>
              <p><a href="#"><i class="fab fa-youtube"></i> YouTube</a></p>
            </li>
            <li>
              <p class="last-li"><a href="#"><i class="fab fa-yelp"></i> Yelp</a></p>
            </li>
          </ul>
        </div>


      </div> <!-- End row -->
    </div> <!-- END BOTTOM FOOTER -->


  </div> <!-- End container -->
</footer> <!-- END FOOTER-4 -->