<!-- <p>register works!</p>
<button (click)="register()">Login</button>
 -->


<div class="container box">

  <h3>Registrazione</h3>

  <!--CREO UN FORM-->
  <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">



    <!--La classe field è una classe di bulma -->
    <div class="field">
      <label class="label"> Username</label>
      <div class="control">
        <input type="text" name="username" [(ngModel)]="username" required class="input">
      </div>
      <!-- <label class="label"> {{ username }}</label> -->
    </div>
    <br>

    <div class="field">
      <label class="label"> Email</label>
      <div class="control">
        <input type="email" name="email" [(ngModel)]="email" required class="input" email>
      </div>
      <!-- <label class="label"> {{ email }}</label> -->
    </div>
    <br>

    <div class="field">
      <label class="label"> Password</label>
      <div class="control">
        <input type="password" name="password" [(ngModel)]="password" required class="input">
      </div>
      <!-- <label class="label"> {{ password }}</label> -->
    </div>
    <br>

    <div class="control">
      <label *ngIf="(username != '' || password != '')" class="label error">{{ errorMessage
        }}</label>
      <button class="button is-success" type="submit" [disabled]="!registerForm.valid">Registrati</button>
    </div>

    <p class="mt-3">
      Hai già un account? <a [routerLink]="'/login'">Vai al login</a>
    </p>


  </form>

</div>