<!-- PRELOADER SPINNER
		============================================= -->
<div id="loader-wrapper">
  <div id="loader">
    <div class="cssload-spinner">
      <div class="cssload-ball cssload-ball-1"></div>
      <div class="cssload-ball cssload-ball-2"></div>
      <div class="cssload-ball cssload-ball-3"></div>
      <div class="cssload-ball cssload-ball-4"></div>
    </div>
  </div>
</div>




<!-- STYLE SWITCHER
		============================================= -->
<div id="stlChanger">
  <div class="blockChanger bgChanger">
    <a href="#" class="chBut icon-xs"><span class="flaticon-layers-1"></span></a>
    <div class="chBody white-color">

      <div class="stBlock text-center" style="margin: 30px 20px 20px 26px">
        <p>Choose Demo</p>
        <a class="s_1" href="demo-1.html"><img src="assets/images/color-scheme/l-01.jpg" width="180" height="93"
            alt="layout-image"></a>
        <a class="s_1" href="demo-2.html"><img src="assets/images/color-scheme/l-02.jpg" width="180" height="130"
            alt="layout-image"></a>
        <a class="s_1" href="demo-3.html"><img src="assets/images/color-scheme/l-03.jpg" width="180" height="98"
            alt="layout-image"></a>
        <a class="s_1" href="demo-4.html"><img src="assets/images/color-scheme/l-04.jpg" width="180" height="115"
            alt="layout-image"></a>
        <a class="s_1" href="demo-5.html"><img src="assets/images/color-scheme/l-05.jpg" width="180" height="118"
            alt="layout-image"></a>
        <a class="s_1" href="demo-6.html"><img src="assets/images/color-scheme/l-06.jpg" width="180" height="93"
            alt="layout-image"></a>
        <a class="s_1" href="demo-7.html"><img src="assets/images/color-scheme/l-07.jpg" width="180" height="121"
            alt="layout-image"></a>
        <a class="s_1" href="demo-8.html"><img src="assets/images/color-scheme/l-08.jpg" width="180" height="115"
            alt="layout-image"></a>
        <a class="s_1" href="demo-9.html"><img src="assets/images/color-scheme/l-09.jpg" width="180" height="109"
            alt="layout-image"></a>
        <a class="s_1" href="demo-10.html"><img src="assets/images/color-scheme/l-10.jpg" width="180" height="125"
            alt="layout-image"></a>
        <a class="s_1" href="demo-11.html"><img src="assets/images/color-scheme/l-11.jpg" width="180" height="128"
            alt="layout-image"></a>
        <a class="s_1" href="demo-12.html"><img src="assets/images/color-scheme/l-12.jpg" width="180" height="123"
            alt="layout-image"></a>
      </div>

    </div>
  </div>
</div> <!-- END SWITCHER -->




<!-- HEADER-3
		============================================= -->
<header id="header-3" class="header navik-header header-transparent header-shadow">
  <div class="container">


    <!-- NAVIGATION MENU -->
    <div class="navik-header-container">


      <!-- CALL BUTTON -->
      <div class="callusbtn"><a href="tel:123456789"><i class="fas fa-phone"></i></a></div>


      <!-- LOGO IMAGE -->
      <div class="logo" data-mobile-logo="assets/images/logo-01.png" data-sticky-logo="assets/images/logo-01.png">
        <a href="demo-1.html"><img src="assets/images/logo-01.png" alt="header-logo" /></a>
      </div>


      <!-- BURGER MENU -->
      <div class="burger-menu">
        <div class="line-menu line-half first-line"></div>
        <div class="line-menu"></div>
        <div class="line-menu line-half last-line"></div>
      </div>


      <!-- MAIN MENU -->
      <nav class="navik-menu menu-caret navik-yellow">
        <ul class="top-list">

          <!-- DROPDOWN MENU -->
          <li><a href="#">About</a>
            <ul>
              <li><a href="about.html">About Testo</a></li>
              <li><a href="team.html">Meet The Team</a></li>
              <li><a href="gallery.html">Images Gallery</a></li>
              <li><a href="gift-cards.html">Gift Cards</a></li>
              <li><a href="faqs.html">F.A.Q.s</a></li>
              <li><a href="terms.html">Terms & Privacy</a></li>
            </ul>
          </li>

          <!-- DROPDOWN MENU -->
          <li><a href="#">Our Menu</a>
            <ul>
              <li><a href="menu-1.html">Menu v.1 - Tabs Cards</a></li>
              <li><a href="menu-2.html">Menu v.2 - Cards</a></li>
              <li><a href="menu-3.html">Menu v.3 - Sections</a></li>
            </ul>
          </li>

          <!-- DROPDOWN MENU -->
          <li><a href="#">Shop</a>
            <ul>
              <li><a href="product-single.html">Single Product</a></li>
              <li><a href="cart.html">Shopping Cart</a></li>
            </ul>
          </li>

          <!-- DROPDOWN MENU -->
          <li><a href="#">Blog</a>
            <ul>
              <li><a href="blog-listing.html">Blog Listing</a></li>
              <li><a href="single-post.html">Single Post</a></li>
            </ul>
          </li>

          <!-- DROPDOWN MENU -->
          <li><a href="#">Hours & Locations</a>
            <ul>
              <li><a href="booking.html">Book A Table</a></li>
              <li><a href="locations.html">Our Locations</a></li>
              <li><a href="contacts.html">Contact Us</a></li>
            </ul>
          </li>

          <!-- HEADER BUTTON  -->
          <li class="nav-btn yellow-color"><a href="tel:123456789">789-654-3210</a></li>

          <!-- BASKET ICON -->
          <li class="basket-ico ico-30">
            <a href="cart.html">
              <span class="ico-holder"><span class="flaticon-shopping-bag"></span> <em class="roundpoint">2</em></span>
            </a>
          </li>

        </ul>
      </nav> <!-- END MAIN MENU -->


    </div> <!-- END NAVIGATION MENU -->


  </div> <!-- End container -->
</header> <!-- END HEADER-3 -->