<div class="main-container">

  <div class="products-list">

    <!--Ci metto la carta per le product richiamando il selettore -->
    <!--RIGUARDARE       ci dovrei mettere   [link]="i"     ma se lo metto mi da errore
 -->
    <div *ngIf="cartDto">
      <div>
        <app-cart-item *ngFor="let product of cartDto.products" [product]="product"
          (delete)="deleteProduct(product.productCartId)" [isDeleting]="product.productCartId == deletingProductCartId"
          [ingredienti]="product.ingredients">
        </app-cart-item>
      </div>
      <div *ngIf="cartDto.products.length > 0">
        <div>
          <h2>{{ productsService.cartTotal | currency:'EUR' }}</h2>
        </div>
        <div>
          <button class="button is-primary" type="button" (click)="transformOrder();">Conferma Ordine</button>
        </div>
      </div>
    </div>

    <div *ngIf="isOrderSubmitted">
      <h2>Totale: </h2>
      <span style="font-size:36px;">{{ productsService.cartTotal | currency:'EUR' }}</span>
      <p style="font-size:24px;">Completa il pagamento nel sito della banca:</p>
      <a [href]="url" target="_blank" class="mt-5 button is-primary">Vai al pagamento</a>
    </div>

  </div>


</div>