<div class="main-container">

  <!-- <h2>Products List</h2> -->

  <div class="search-bar-container">


    <div class="field">
      <p class="control has-icons-left">
        <input (keyup)="filtra($event)" class="input" type="text" placeholder="Cerca">
        <span class="icon is-small is-left">
          <!-- <fa-icon [icon]="faSearch"> </fa-icon> -->
          <i class="fa fa-search"></i>
        </span>
      </p>
    </div>
  </div>


  <div class="products-list">

    <!--Ci metto la carta per le product richiamando il selettore -->
    <!--RIGUARDARE       ci dovrei mettere   [link]="i"     ma se lo metto mi da errore
 -->
    <app-product-card *ngFor="let product of products" [link]="product.id" (delete)="deleteProduct(product.id)"
      [nome]="product.nome" [prezzo]=" product.prezzo" [immaginePrincipale]=" product.immaginePrincipale"
      [isDeleting]="product.id == deletingProductId">
    </app-product-card>






  </div>
  <!--Bottone in blu per le product -->
  <!--GUARDARE BENE IL ROUTER LINK-->
  <button class="button floating-add-button is-link" routerLink="new">
    Aggiungi un Prodotto

  </button>





</div>